<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.bhurling.privatebet">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrivateBet">

        <activity
            android:name=".EntryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".signup.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PrivateBet.Signup" />

        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".friends.InviteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".add.AddBetActivity"
            android:label="I bet that"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PrivateBet.CleanTitle" />

        <service
            android:name=".signup.SignupService"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>
